:root {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
::-webkit-scrollbar {
  width: 0px;
}

html {
  background: linear-gradient(135deg,#181926,#1e2030);
  min-height: 100vh;
  min-width: 100vw;
  background-size: cover;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
body {
  margin: 0 0;
}
body:not([data-did-911-happen-yet="true"]) .navContainer {  
  background: #00000041;
}
a, a:visited {
  color: rgb(141, 115, 176);
}
.navContainer {
  width: 100vw;
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 54px;
  z-index: 500;
  backdrop-filter: blur(16px);
  background: #00000000;
  nav {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 54px;
    a {
      padding: 12px 28px;
      text-decoration: none;
      color: #bbb !important;
      font-weight: 400;
      transition: color 1s;
      &:hover {
        color: #ddd !important;
        font-weight: 500;
      }
    }
    .rightdl {
      position: fixed;
      right: 8px;
      /*border-radius: 16px;*/
      padding: 7px 18px;
    }
  }
}
.page {
  text-align: center;
}
button.active,
a.active {
  background: rgb(141, 115, 176);
  color: #ffffff;
}
html {
  overflow-x: hidden;
  width: 100vw;
}
body {
  width: 100vw;
}
@media screen and (max-width: 800px) {
  .nomobile { display: none }
}
@media screen and (min-width: 800px) {
  .onlymobile { display: none }
}

// cards - https://codepen.io/Hyperplexed/pen/MWQeYLW
.cards {
  --c-c: #1e2030;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 85vw;
  justify-content: center;
  flex-grow: 2;
  max-width: 1100px;
  margin: 40px 40px;
}

.cards:hover > .card::after {
  opacity: 1;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 260px;
  flex-direction: column;
  position: relative;
  width: 300px;
  flex-grow: 3;
}

.card:hover::before {
  opacity: 1;
}

.card::before,
.card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  z-index: 3;
}

.card::after {  
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.4),
    transparent 40%
  );
  z-index: 1;
}

.card > .card-content {
  background-color: var(--c-c);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}

.card-image {
  align-items: center;
  display: flex;
  height: 140px;
  justify-content: center;
  overflow: hidden;
}

.card-image > i {
  font-size: 6em;
  opacity: 0.25;
}

.card-info-wrapper {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding: 0px 20px;
}

.card-info {
  align-items: flex-start;
  display: flex;
  gap: 10px;
}

.card-info > i {  
  font-size: 1em;
  height: 20px;
  line-height: 20px;
}

.card-info-title > h3 {
  font-size: 1.1em;
  line-height: 20px;
}

.card-info-title > h4 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.85em;
  margin-top: 8px;
}
